include *\.md 
include LICENSE
include doc/Makefile 
include versiontools.py 
include env/*\.yml 
include env/*\.sh
include requirements.txt
include pyPRISM/trajectory/Debyer.c
include pyPRISM/trajectory/Debyer.pyx
recursive-include doc *.rst
